:root {
    --jumbotron-padding-y: 3rem
}
@font-face {
    font-family: 'Monoton';
    src: url('/web/20220520003022im_/http://techboom.ai/fonts/Monoton-Regular.ttf'),
    url('/web/20220520003022im_/http://techboom.ai/fonts/Monoton-Regular.woff') format('woff');
  }
html,body{
    scroll-behavior: smooth;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    /*background: 0 0;*/
    background-color: #fff;
    font-size: 18px;
    height: 100%;
}

.red {
   background-color: #D9827B !important;
}

.toggle-btn {
    position: fixed;
    background-color: #fff;
    z-index: 2;
    border-radius: 60px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .162);
    cursor:pointer;
    display: flex;
    top: 5%;
    right: 0;
    align-items: center;
    justify-content: center;
}
.toggle-btn i {
    font-size: 1em;
    color: #FF906F;
}
.arrow-btn {
    position: fixed;
    background-color: #FF9070;
        background-repeat:no-repeat;
    z-index: 1;
    top: 15.5%;
    right: 0;
    border-radius: 60px;
    border: 1.5px solid #fff;
    box-shadow: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .162);
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn i {
    font-size: 1em;
    color: #fff;
}

.toggle-btn:focus {
    background-color: #fff;
    outline: none !important;
}
button:focus {
    outline:none !important;
}


.menu {
    z-index: 2;
    position: fixed;
    top: 5%;
    right: 5%;
    height: 30px;
    width: 30px;
}

/*.menubg {
    background: #fff;
    height: 30px;
    width: 30px;
    top: 5%;
    position: fixed;
    right: 5%;
    z-index: 21;
    border-radius: 100px;display: : none;
    opacity: 0
}*/
.mycontact {
    position: relative;
    /*background-color: #fff;*/
    /*background-image: linear-gradient(45deg, #ff5f6d, #ffc371);*/
    height: 100%;
    width: 100%
}
.data {
    z-index: 23;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0%;
    left: -150%;
    z-index: 21;
    overflow-y: auto;
    overflow-x:hidden; 
    background-color: #fff;
}
.contactFooter {
    list-style-type: none;
    position: absolute;     
    bottom: 0%;
    width: 100%;
    height: 50px;
    left: 0;
}


.contactFooter li {
    margin:0;
    padding: 1em;
    color: #090909
}

.contactFooter li a {
    text-decoration: none;
    color: #000;
}
.contactFooter li a i {
    font-size: 24px !important;
}

.turn-white {
    background-color: #fff!important
}
.turn-orange {
    background-color: #FF9070!important
}
.color-white {
    color: #fff
}

#intro {
    position: relative;
    background-color: #fff
}

#main {
    position: relative;
    background-color: none
}

#highlights {
    position: relative;
    background: 0 0!important
}

#headings {
    transition: .5s ease-in-out
}

.serviceHeading {
    font-family: Raleway, sans-serif;
    color: #120f18
}

hr {
    background-color: #fff
}

.card {
    transition: all .3s ease-out;
    color: #000;
    height: 100%
    width:100%;
}

.card-body {
    position: absolute;
    color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow-y: hidden
}



.album .row .col-md-5 .card {
    box-sizing: border-box;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .17)
}

.album .row .card-col {
    transition: .5s ease-out
}

.card img {
    object-fit: cover;
    object-position: center;
    height: 100%
}

#card1 {
    background-color: #a1778f;
    height: 530px
}

#card2 {
    background-color: #e78b72;
    height: 530px
}

#card3 {
    background-color: #a1778f;
    height: 350px
}

#card5 {
    background-color: #a1778f;
    height: 530px
}

#card4 {
    background-color: #e78b72;
    height: 350px
}

#card6 {
    background-color: #e78b72;
    height: 530px
}

.fade-in {
    opacity: 1;
    transform: translateY(0)
}

.fade-out {
    opacity: 0;
    transform: translateY(0);
    transition: .5s ease-in-out
}

.space {
    height: 60px
}
.jumbotron {
    overflow: hidden;
    display: flex;
    align-items: center;
    background:  url('https://res.cloudinary.com/techboom/image/upload/v1552278240/techboom/scale-up-2.jpg') center top;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    margin: 0 0;
    color: #000;
    border-radius: 0 !important;
}

.animation {
    position: relative;
    top: -430px;
    color: #000
}

img {
    width: 100%;
        height: 100%;
}

.cloud1 {
    position: absolute;
    animation: cloudOne infinite 30s linear;
    animation-delay: -3s;
    -webkit-animation-name: cloudOne;
    -webkit-animation-play-state: running;
    -webkit-animation-delay: -3s;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: running;
    -webkit-animation-iteration-count: infinite
}

.cloud2 {
    position: absolute;
    animation: cloudTwo infinite 25s linear;
    animation-delay: -3s;
    -webkit-animation-name: cloudTwo;
    -webkit-animation-delay: -3s;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: running;
    -webkit-animation-iteration-count: infinite
}

.cloud3 {
    position: absolute;
    animation: cloudThree infinite 15s linear;
    animation-delay: -3s;
    -webkit-animation-name: cloudThree;
    -webkit-animation-delay: -3s;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: running;
    -webkit-animation-iteration-count: infinite
}

.cloud4 {
    position: absolute;
    animation: cloudFour infinite 30s linear;
    animation-delay: -3s;
    -webkit-animation-name: cloudFour;
    -webkit-animation-delay: -3s;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: running;
    -webkit-animation-iteration-count: infinite
}

@-webkit-keyframes cloudOne {
    0% {
        z-index: 3px;
        transform: translateX(-150%)
    }
    100% {
        transform: translateX(100%)
    }
}

@-webkit-keyframes cloudTwo {
    0% {
        z-index: 3px;
        transform: translateX(-170%)
    }
    100% {
        transform: translateX(100%)
    }
}

@-webkit-keyframes cloudThree {
    0% {
        z-index: 3px;
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(100%)
    }
}

@-webkit-keyframes cloudFour {
    0% {
        z-index: 3px;
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes cloudOne {
    0% {
        z-index: 3px;
        transform: translateX(-150%)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes cloudTwo {
    0% {
        z-index: 3px;
        transform: translateX(-170%)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes cloudThree {
    0% {
        z-index: 3px;
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes cloudFour {
    0% {
        z-index: 3px;
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(100%)
    }
}

.jumbotron-heading1 {
    /* -webkit-animation-name: mymove;
    -webkit-animation-delay: -3s;
    -webkit-animation-duration: 5s;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: running;
    -webkit-animation-iteration-count: infinite; */
    font-family: Monoton, cursive;
    position: relative;
    top: -5px;
    /* animation-delay: -3s;
    animation: mymove 5s infinite linear; */
    z-index: 0
}

.jumbotron-heading2 {
    font-family: Monoton, cursive;
    position: relative;
    top: -5px
}

.jumbotron-heading3 {
    font-family: Monoton, cursive;
    position: relative;
    top: -5px
}

#aboutUs {
    background-color: #ff906f;
    color: #fff;
}

.aboutUs p {
    font-family: 'IBM Plex Sans', sans-serif;
    /*line-height: 65px*/
}

.aboutUs span {
    font-size: 1em;
    font-family: Raleway, sans-serif
}

.highlightImage {
    object-fit: cover
}

#highlights h3 {
    color: #000;
    font-family: Raleway, sans-serif
}

.highlightsCard img {
    box-sizing: border-box;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .202);
    border-radius: 3px

}
.highlightsCard {
    overflow:hidden;
}
.closebtn {
    position: absolute;
    z-index: 100;
    background: #FF9070;
    box-shadow: 0 6px 4px rgba(0,0,0,.092);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.closebtn div {
    background-color: #fff;
    margin-top: -27.5px;
}
.four {
    background-color: #000;
    height: 2.5px;
    border-radius: 20px;
}
.five {
    background-color: #000;
    height: 2.5px;
    border-radius: 20px;
}
.miniContact a{
    text-decoration: none;
    color: white;
}

.contact form {
    background-color:rgba(43, 43, 43,1);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px  rgba(0,0,0,.208);
    color: white;  
}


textarea {
    height: 80px;
}
/*.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color:rgba(43, 43, 43,1);
    }*/

    #contact {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: -20px
    }

    .subscribe2 {
        margin: 0;
        padding: 0;
        font-size: 0;
        visibility: hidden
    }

    button {
        width: 80px
    }

    .myLinks ul {
        transform: translate(0, 0);
        display: flex;
        margin: 0;
        padding: 0
    }
    .colorBlock {
        width: 100%;
        height: 100%;
        background-color: #FF906F;
        position: absolute;
        bottom: 0;
        z-index:8;
    }
    .miniContact {
        background-color: #FF906F;
        border-radius: 5px;
 /*       bottom: 0;*/
    }
    .miniContact p{
        font-size: 48px;
        letter-spacing: 1.25px;
    }
    .myLinks ul li {
        list-style-type: none
    }

    .myLinks ul li a {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 0 10px 0 0;
        font-size: 20px;
        text-align: center;
        text-decoration-style: none;
        color: #fff;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s
    }

    footer .row .col ul {
        display: flex
    }

    footer .row .col ul li {
        list-style-type: none
    }

    footer .row .col ul li a {
        text-decoration-style: none;
        display: block;
        margin: 0 10px;
        font-weight: 700
    }
    .btn-top {
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 2%;
        right: 0;
    }
    .buttonTop button i{
    color: #FF906F;
    font-size: 1em;
    }
    .buttonTop button{
        padding: 1em;
        border-radius: 50px;
        position: absolute;
        border:2px solid  #FF906F;
        right: 0;
        margin-top: -30px;
        text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .162);
        background: #fff !important;
        box-shadow: 
    }
    .buttonTop a {
        text-decoration: none;
    }
    .arrowUp {
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
    }

    @media only screen and (max-width:576px) {
        .info {
            position: absolute;
            bottom:0;
            color: #fff;
            opacity: 1;
            transition: .5s ease-out
        }
        .techboom {
            font-size: 3em;
        }
        .album .row .card-col img {
            filter: brightness(.65)
        }
        .closebtn {
            top: 5%;
            right: 3%
        }
        .closebtn div {
            margin-top: -25.5px !important;
        }
        .four {
            width: 25px;
            transform: rotate(45deg) translateX(18px);
        }
        .five {
            width: 25px;
            transform: rotate(-45deg) translateX(-18px);
        }
        .arrow-btn, .toggle-btn, .buttonTop button, .closebtn {
            width: 50px;
            height: 50px;
        }
        .menu ul li a {
            font-size: 2.5em
        }
        .serviceHeading {
            font-size: 2.5em
        }
        .aboutUs p {
            font-size: 1.5em
            line-height:20px;
        }
        #aboutUs {
            height: 700px;
        }
        #highlights h3 {
            font-size: 1.4em
        }
        .jumbotron-heading1 {
            font-size: 0
        }
        .jumbotron-heading2 {
            font-size: 80px
        }
        .jumbotron-heading3 {
            font-size: 70px
        }
        .longCol img {
            width: 100%;
            height: 100%
        }
        .jumbotron {
            height: 65vh
        }
        .jumbotron .cloud1 {
            top: 80px
        }
        .jumbotron .cloud2 {
            top: 180px
        }
        .jumbotron .cloud3 {
            top: 200px
        }
        .jumbotron .cloud4 {
            top: 150px
        }
        .myLinks ul {
            justify-content: center
        }
        .contactTitle h2 {
            font-size: 1.5em;
        }
        .miniContact{
            width: 467px;
            height: 333px;
        }
    }

    @media only screen and (min-width:576px) {
        .info {
            position: absolute;
            bottom:0;
            color: #fff;
            opacity: 1;
            transition: .5s ease-out
        }
        .techboom {
            font-size: 3.5em;
        }
        .album .row .card-col img {
            filter: brightness(.65)
        }
        .four {
            width: 30px;
            transform: rotate(45deg) translateX(21px);
        }
        .five {
            width: 30px;
            transform: rotate(-45deg) translateX(-21px);
        }
        .arrow-btn, .toggle-btn, .buttonTop button,.closebtn  {
            width: 60px;
            height: 60px;
        }
        .closebtn {
            top: 5%;
            right: 3%
        }
        .menu ul li a {
            font-size: 3em
        }
        .serviceHeading {
            font-size: 4em
        }
        .aboutUs p {
            font-size: 1.8em
        }
        #highlights h3 {
            font-size: 2.5em
        }
        .jumbotron-heading1 {
            font-size: 0
        }
        .jumbotron-heading2 {
            font-size: 100px
        }
        .jumbotron-heading3 {
            font-size: 90px
        }
        .longCol img {
            width: 100%;
            height: 100%
        }
        .jumbotron {
            height: 75vh
        }
        .jumbotron .cloud1 {
            top: 150px
        }
        .jumbotron .cloud2 {
            top: 120px
        }
        .jumbotron .cloud3 {
            top: 170px
        }
        .jumbotron .cloud4 {
            top: 150px
        }
        .contactTitle h2 {
            font-size: 2em;
        }
        .myLinks ul {
            justify-content: center
        }
        .miniContact{
            width: 524px;
            height: 393px;
        }
    }

    @media (min-width:768px) {
        .info {
            position: absolute;
            bottom: -100%;
            color: #fff;
            opacity: 0;
            transition: .5s ease-out
        }

        .card-col:hover .info {
            bottom: 2.5%;
            opacity: 1;
        }
        .album .row .card-col img {
            filter: brightness(1);
        }
        .album .row .card-col:hover img {
            filter: brightness(.65);
        }
        .album .row .col-md-5 .card-col:hover {
            transform: scale(.98) rotateY(15deg)
        }
        .closebtn {
            top: 5%;
            right: 3%
        }
        .techboom {
            font-size: 4em;
        }
        .menu ul li a {
            font-size: 3em
        }
        .serviceHeading {
            font-size: 4em
        }
        .aboutUs p {
            font-size: 1.8em
        }
        #highlights h3 {
            font-size: 2.5em
        }
        body {
            overflow-x: hidden
        }
        .jumbotron-heading1 {
            font-size: 15vh
        }
        .jumbotron-heading2 {
            font-size: 0
        }
        .jumbotron-heading3 {
            font-size: 0
        }
        .headerbtn {
            position: relative;
            top: 30px
        }
        .longCol {
            height: 100%;
            width: 100%;
            flex: 1;
            overflow-x: hidden
        }
        .longCol img {
            width: auto;
            height: auto
        }
        .contact-form {
            height: 60vh
        }
        .jumbotron {
            height: 85vh
        }
        .jumbotron .cloud1 {
            top: 60px
        }
        .jumbotron .cloud2 {
            top: -2%
        }
        .jumbotron .cloud3 {
            top: 30%
        }
        .jumbotron .cloud4 {
            top: 35%
        }
        .contactTitle h2 {
            font-size: 3em;
        }
        .myLinks ul {
            justify-content: start;
        }
        .miniContact{
            width: 344px;
            height: 245px;
        }
        @media only screen and (min-width:992px) {
            .info {
                position: absolute;
                bottom: -100%;
                color: #fff;
                opacity: 0;
                transition: .5s ease-out
            }
            .techboom {
                font-size:4.5em;
            } 
            .card-col:hover .info {
                bottom: 5%;
                opacity: 1;
            }
            .album .row .card-col img {
                filter: brightness(1);
            }
            .album .row .card-col:hover img {
                filter: brightness(.65);
            }
            .album .row .col-md-5 .card-col:hover {
                transform: scale(.98) rotateY(15deg)
            }
            .closebtn {
                top: 5%;
                right: 3%
            }

            .menu ul li a {
                font-size: 3em
            }
            .serviceHeading {
                font-size: 5em
            }
            .aboutUs p {
                font-size: 2.5em
            }
            #highlights h3 {
                font-size: 2.75em
            }
            .jumbotron-heading1 {
                font-size: 100px
            }
            .jumbotron-heading2 {
                font-size: 0
            }
            .jumbotron-heading3 {
                font-size: 0
            }
            .longCol {
                height: 100%;
                flex: 1
            }
            .longCol:hover {
                flex: 3;
                flex-direction: row
            }
            .subscribe {
                padding: 4.5rem 0
            }
            .contact-form {
                height: 60vh
            }
            .longCol {
                height: 100%;
                flex: 1
            }
            .longCol:hover {
                flex: 3
            }
            .longCol img {
                width: auto;
                height: auto
            }
            .jumbotron {
                height: 95vh
            }
            .jumbotron .cloud1 {
                top: 60px
            }
            .jumbotron .cloud2 {
                top: -40px
            }
            .jumbotron .cloud3 {
                top: 80px
            }
            .jumbotron .cloud4 {
                top: 40%
            }
            .contactTitle h2 {
                font-size: 3.5em;
            }
            .miniContact{
            width: 304px;
            height: 217px;
        }
        }
        @media only screen and (min-width:1200px) {
            .info {
                position: absolute;
                bottom: -100%;
                color: #fff;
                opacity: 0;
                transition: .5s ease-out
            }
            .techboom {
                font-size: 5em;
            }
            .card-col:hover .info {
                bottom: 7.5%;
                opacity: 1;
            }
            .album .row .card-col img {
                filter: brightness(1);
            }
            .album .row .card-col:hover img {
                filter: brightness(.65);
            }
            .album .row .col-md-5 .card-col:hover {
                transform: scale(.98) rotateY(15deg)
            }
            .jumbotron-heading1 {
                font-size: 15vh
            }
            .jumbotron-heading2 {
                font-size: 0
            }
            .jumbotron-heading3 {
                font-size: 0
            }
            .longCol {
                height: 100%;
                flex: 1
            }
            .longCol:hover {
                flex: 3
            }
            .longCol img {
                width: auto;
                height: auto
            }
            .subscribe {
                padding: 5rem
            }
            .contact-form {
                height: 70vh
            }
            #aboutUs {
                height: 700px;
            }
            .jumbotron {
                height: 100vh
            }
            .jumbotron .cloud1 {
                top: 80px
            }
            .jumbotron .cloud2 {
                top: -60px
            }
            .jumbotron .cloud3 {
                top: 50px
            }
            .jumbotron .cloud4 {
                top: 50px
            }
            .contactTitle h2 {
                font-size: 4em;
            }
                        .miniContact{
            width: 364px;
            height: 260px;
        }
    }